# DON'T REMOVE THIS !!!
/config/application.yml

/log/*
/tmp/*
/coverage
/config/puma.rb
/test/coverage
/db/*.sqlite3
/db/*.sqlite3-journal
/.bundle
/vendor/bundle
/.idea
/.rspec
/.capistrano
/.sass-cache

.envrc
.ruby-gemset
.rvmrc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*~
*.lock
!Gemfile.lock
*.out
*.rbc
*.sassc
*.tmproj
*.sw?
*.cache
*.pid
*.ids
*.tags*
*.sublime*
*.log
*.sql
*.sqlite
*.rdb

*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
